@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {



  .animated-border {
    @apply  border-transparent border-solid border-2 relative animate-animateBorder
  }
  
  .animate-animateBorder{
    animation: animateBorder 4s linear infinite;
  }


  @keyframes animateBorder {
    5% {
      border-color: white; /* Anfangsfarbe der Border */
    }
    50% {
      border-color: gray; /* Farbe der Border in der Mitte der Animation */
    }
    80% {
      border-color: black; /* Endfarbe der Border */
    }
  }





  .container_review {
    @apply relative  overflow-hidden; /* Höhe nach Bedarf anpassen */
  }
  
  .movingDiv {
    @apply absolute  animate-moveLeftToRight; /* Breite, Höhe und Hintergrundfarbe nach Bedarf anpassen */
  }
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(-200%); /* Anfangsposition (links außerhalb des Bildschirms) */
    }
    100% {
      transform: translateX(200%); /* Endposition (rechts außerhalb des Bildschirms) */
    }
  }
  
  .animate-moveLeftToRight {
    animation: moveLeftToRight 20s linear infinite; /* Dauer und Timing der Animation anpassen */
  }




 html, body {
    @apply overflow-x-hidden
  }

  body {
    @apply bg-[#231f20] text-white min-[1250px]:text-xl relative
  }
  tr:nth-child(1) {
    @apply text-left
  }
  td {
    @apply px-10 max-[600px]:px-4 max-[400px]:px-1 text-lg border
  }
  th{
    @apply max-[850px]:text-xl border
  }
  thead tr th:nth-child(1){
    @apply text-left  px-1
  }
  tbody tr td:nth-child(1){
    @apply px-1
  }
  tbody tr  {
    @apply hover:bg-white hover:text-black hover:font-bold
  }

  tbody tr td:nth-child(2),
  tbody tr td:nth-child(3),
  tbody tr td:nth-child(4){
    @apply font-sans  max-[600px]:text-[16px] max-[400px]:text-[14px] text-center 
  }

  .table__container h1{
    @apply  text-3xl text-gray-200 font-bold
  }
  .number_font{
    @apply font-sans text-[15px]   max-[400px]:text-[13px]
  }
}